.ImageBody {
    background-image: url('https://s3.amazonaws.com/mmevorah.github.io/img/home/IMGP5110.JPG');
    background-size: 100%;
    background-repeat: no-repeat;
}

.CornerNav {
    background-color: white;
    background-size: contain;
    -webkit-transform: rotate(45deg);
    position: fixed;
    height: 250px;
    width: 250px;
    left: -125px;
    top: -125px;
    box-shadow: -25px -25px 20px 30px #202022;   
    
}